android/app/build/
android/**/build/
android/**/tmp/
android/**/intermediates/
android/**/outputs/
android/**/obj/

node_modules/

*.log
*.iml
*.apk
*.so
*.tgz
.DS_Store

__tests__/
tsconfig.json
babel.config.js
metro.config.js
example/
